@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom {
    background-image: url("/src/assets/horse-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
